* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url('/imgs/VOCOS.webp');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.file {
  position: absolute;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
}

.fileheader {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  z-index: 2;
}

.file img {
  width: 40px;
}

.file p {
  z-index: 3;
  max-width: 60px;
}

.terminal {
  background-color: rgb(75, 75, 75);
  height: 500px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terminalheader {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  z-index: 2;
}

.app {
  resize: both;
  overflow: auto;
  background-color: white;
  height: 500px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terminal .title,
.terminal .button {
  z-index: 3;
}

.appheader {
  position: absolute;
  font-family: monospace;
  font-size: 18px;
  background-color: #fff;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.input {
  top: 20px;
  position: relative;
  display: block;
  background-color: transparent;
  border: none;
  color: white;
  font-family: monospace;
  width: 100%;
  outline: none;
}

.input:focus {
  outline: none;
}

.buttons {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button img {
  width: 20px;
}

.maximized {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  z-index: 4;
}
